body {
min-width: 850px;
min-height: 530px;
}

.whole_container {
position:absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgb(246,246,246);
overflow: none;
}

#category_container {
position: absolute;
top: 0px;
left: 0px;
width: 200px;
height: 100%;
z-index: 2;
box-shadow: 0 0 8px black;
/*border-right-style: solid;
border-right-width: 1px;
border-right-color: rgb(215, 215, 215);*/
background: #23538a; /* Old browsers */
background: -moz-linear-gradient(top,  #23538a 0%, #5db9dd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23538a), color-stop(100%,#5db9dd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #23538a 0%,#5db9dd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#5db9dd',GradientType=0 ); /* IE6-9 */
}

.logo {
left: 16px;
top: 14px;
font-family: arial;
font-size: 22px;
text-align: left;
position: relative;
color: #DDDDDD;
font-weight: bold;
margin-bottom: 26px;
}

.search_bar {
position: relative;
width: 176px;
background: #D5D5D5;
height: 26px;
left: 11px;
margin-bottom: 15px;
border-radius: 50px;
box-shadow: 0 0 5px gray;
}


.search_bar_input {
font-family: arial;
font-size: 16px;
line-height: 25px;
padding-left: 16px;
color: rgb(0, 42, 139);
}

.search_bar_bn {
position: absolute;
top: 0px;
right: 0px;
width: 26px;
height: 26px;
background: orange;
border-radius: 26px;
box-shadow: 0 0 1px gray;
}

.search_bar_bn:hover {
background: orange;
}

.main_navigator_h1 {
font-size: 16px;
font-family: Arial;
height: 25px;
width: 180px;
position: relative;
line-height: 25px;
padding-left: 0px;
padding-bottom: 7px;
margin-left: 16px;
margin-right: 0px;
color: #F7F7F7;
}

.main_navigator_h1:hover {
cursor: pointer;
color: orange;
}

.main_navigator_h2 {
font-size: 14.5px;
font-family: Arial;
height: 21px;
width: 179px;
position: relative;
line-height: 21px;
padding-left: 7px;
margin-left: 20px;
margin-right: 0px;
border-color: #33CCFF;
color: #DDDDDD;
}

.main_navigator_h2:hover {
cursor: pointer;
color: orange;
}

.detail_container {
top: 0px;
padding-left: 208px;
padding-top: 10px;
padding-right: 8px;
padding-bottom: 8px;
width: 100%;
height: 100%;
background: transparent;
overflow-y: scroll;
overflow-x: hidden;
}

.page_header {
position: relative;
left: 7px;
top: 4px;
font-family: arial;
font-size: 23px;
margin-bottom: 5px;
color: #23538a;
font-weight: bold;
}

.app_unit {
position: relative;
float: left;
width: 285px;
height: 170px;
margin: 8px;
background: rgb(255, 255, 255);
box-shadow: 0px 0px 4px gray;
}

.app_unit:hover {
cursor: pointer;
}

.app_mask {
width: 100%;
height: 40px;
top: 130px;
background: rgba(255, 255, 255, 0.5);
position: absolute;
}

.app_name {
position: absolute;
left: 10px;
top: 132px;
font-family: arial;
font-size: 14.5px;
color: rgb(62, 62, 62);
}

.app_brief {
position: absolute;
left: 10px;
top: 149px;
font-family: arial;
font-size: 13px;
color: rgb(115, 115, 115);
}

.app_price {
position: absolute;
left: 236px;
top: 147px;
font-family: arial;
font-size: 14px;
color: rgb(51,176,240);
}

#overlay_container {
position: absolute;
top: 0px;
left: 200px;
width: calc(100% - 200px);
height: 100%;
z-index: 1;
background: #066dab; /* Old browsers */
background: -moz-linear-gradient(top,  #066dab 0%, #8abbd7 69%, #c5deea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#066dab), color-stop(69%,#8abbd7), color-stop(100%,#c5deea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */
}

.overlay_app_header {
position: absolute;
top: 16px;
left: 16px;
background: #ff9d00;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 28px;
width: calc(100% - 220px);
z-index: 4;
box-shadow: 0 0 10px black;
}

.overlay_app_header_name {
color: white;
position: relative;
z-index: 2;
font-size: 18px;
line-height: 28px;
text-decoration: none;
/* text-shadow: 3px 1px 9px #e7e7e7; */
text-align: center;
text-transform: capitalize;
font-family: arial;
font-weight: bold;
float: center;
}

.overlay_iframe_container{
position: absolute;
top: 44px;
left: 16px;
width: calc(100% - 220px);
height: calc(100% - 62px);
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0 0 10px 1px black;
overflow: hidden;
z-index: 3;
}

.full {
width: 100%;
height: 100%;
overflow: hidden;
}

.overlay_close {
position: absolute;
top: 17px;
right: 14px;
width: 174px;
height: 32px;
font-family: arial;
font-weight: bold;
line-height: 32px;
font-size: 18px;
border-radius: 5px;
text-align: center;
color: black;
box-shadow: 0 0 8px black;
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

}

.overlay_close:hover {
cursor: pointer;
background: #ff9d00;
}

.overlay_install {
position: absolute;
top: 61px;
right: 14px;
width: 174px;
height: 32px;
font-family: arial;
font-weight: bold;
line-height: 32px;
font-size: 18px;
border-radius: 5px;
text-align: center;
color: black;
box-shadow: 0 0 8px black;
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.overlay_install:hover {
cursor: pointer;
background: #ff9d00;
}

.overlay_app_edge {
position: absolute;
float: right;
top: 114px;
right: 130px;
width: 58px;
height: 62px;
background: rgb(0, 0, 0);
border-radius: 14px;
margin-top: 9px;
margin-left: 0;
box-shadow: 0 1px 2px 0px black;
}

.overlay_app_img {
position: absolute;
float: right;
top: 124px;
right: 131px;
width: 56px;
height: 56px;
background: rgb(51, 176, 240);
border-radius: 12px;
margin-top: 0;
margin-left: 0;
box-shadow: 0 0 0px 2px white;
}

.overlay_name {
position: absolute;
float: left;
right: 0;
top: 122px;
font-family: arial;
font-size: 17px;
margin-bottom: 5px;
color: rgb(229, 229, 229);
font-weight: bold;
width: 120px;
}

.overlay_price {
position: absolute;
float: left;
right: 0;
top: 144px;
font-family: arial;
font-size: 17px;
margin-bottom: 5px;
color: orange;
font-weight: bold;
width: 120px;
}

.overlay_brief {
position: absolute;
float: left;
right: 12px;
top: 200px;
font-family: arial;
font-size: 16px;
margin-bottom: 5px;
color: rgb(229, 229, 229);
width: 176px;
text-align: justify;
text-justify: inter-word;
}

.overlay_snapshot {
position: absolute;
float: left;
right: 0;
bottom: 246px;
font-family: arial;
font-size: 17px;
margin-bottom: 5px;
color: rgb(229, 229, 229);
font-weight: bold;
width: 188px;
}

.overlay_snapshot_1 {
position: absolute;
bottom: 138px;
width: 174px;
height: 108px;
background: rgb(232, 232, 232);
right: 14px;
float: right;
clear: right;
border-radius: 5px;
}

.overlay_snapshot_2 {
position: absolute;
bottom: 18px;
width: 174px;
height: 108px;
background: rgb(232, 232, 232);
right: 14px;
float: left;
border-radius: 5px;
}

.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }