body {
min-width: 850px;
min-height: 530px;
}

.whole_container {
position:absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgb(246,246,246);
overflow: hidden;
}

#category_container {
position: absolute;
top: 0px;
left: 0px;
width: 200px;
height: 100%;
z-index: 2;
box-shadow: 0 0 8px black;
/*border-right-style: solid;
border-right-width: 1px;
border-right-color: rgb(215, 215, 215);*/
background: #23538a; /* Old browsers */
background: -moz-linear-gradient(top,  #23538a 0%, #5db9dd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23538a), color-stop(100%,#5db9dd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #23538a 0%,#5db9dd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #23538a 0%,#5db9dd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#5db9dd',GradientType=0 ); /* IE6-9 */
}

.logo {
left: 16px;
top: 14px;
font-family: arial;
font-size: 22px;
text-align: left;
position: relative;
color: #DDDDDD;
font-weight: bold;
margin-bottom: 26px;
}

.search_bar {
position: relative;
width: 176px;
background: #D5D5D5;
height: 26px;
left: 11px;
margin-bottom: 15px;
border-radius: 50px;
box-shadow: 0 0 5px gray;
}


.search_bar_input {
font-family: arial;
font-size: 16px;
line-height: 25px;
padding-left: 16px;
color: rgb(0, 42, 139);
}

.search_bar_bn {
position: absolute;
top: 0px;
right: 0px;
width: 26px;
height: 26px;
background: orange;
border-radius: 26px;
box-shadow: 0 0 1px gray;
}

.search_bar_bn:hover {
background: orange;
}

.main_navigator_h1 {
font-size: 16px;
font-family: Arial;
height: 3.5vh;
width: 180px;
position: relative;
line-height: 3.5vh;
padding-left: 0px;
padding-bottom: 7px;
margin-left: 16px;
margin-right: 0px;
color: #F7F7F7;
}

.main_navigator_h1:hover {
cursor: pointer;
color: orange;
}

.main_navigator_h2 {
font-size: 15px;
font-family: Arial;
height: 3.2vh;
width: 179px;
position: relative;
line-height: 3.2vh;
padding-left: 7px;
margin-left: 20px;
margin-right: 0px;
border-color: #33CCFF;
color: #DDDDDD;
}

.main_navigator_h2:hover {
cursor: pointer;
color: orange;
}

.detail_container {
top: 0px;
padding-left: 208px;
padding-top: 10px;
padding-right: 8px;
padding-bottom: 8px;
width: 100%;
height: 100%;
background: transparent;
overflow-y: scroll;
overflow-x: hidden;
}

.page_header {
position: relative;
left: 7px;
top: 4px;
font-family: arial;
font-size: 23px;
margin-bottom: 5px;
color: #23538a;
font-weight: bold;
padding-bottom: 4px;
}

.app_unit {
position: relative;
float: left;
width: calc(25% - 16px);
height: 170px;
margin: 8px;
background: rgb(219, 219, 219);
box-shadow: 0px 0px 4px gray;
}

.app_unit:hover {
cursor: pointer;
}

.app_mask {
width: 100%;
height: 46px;
top: 124px;
background: rgba(255, 255, 255, 0.8);
position: absolute;
}

.app_name {
position: absolute;
left: 9px;
top: 128px;
font-family: arial;
font-size: 16px;
color: rgb(62, 62, 62);
}

.app_brief {
position: absolute;
left: 10px;
top: 149px;
font-family: arial;
font-size: 13px;
color: rgb(115, 115, 115);
}

.app_price {
position: absolute;
left: 236px;
top: 147px;
font-family: arial;
font-size: 14px;
color: rgb(51,176,240);
}

.overlay_app_certified {
position: absolute;
top: -7px;
right: -6px;
width: 75px;
}

#overlay_container {
position: absolute;
top: 0px;
left: 200px;
width: calc(100% - 200px);
height: 100%;
z-index: 1;
background: #066dab; /* Old browsers */
background: -moz-linear-gradient(top,  #066dab 0%, #8abbd7 69%, #c5deea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#066dab), color-stop(69%,#8abbd7), color-stop(100%,#c5deea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */
}

.overlay_app_header {
position: absolute;
top: 32px;
left: 37px;
background: repeating-linear-gradient( -55deg, #222, #222 10px, #555 10px, #555 20px );
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 28px;
width: calc(100% - 270px);
z-index: 4;
box-shadow: 0 0 10px black;
}

.overlay_app_header_name {
color: rgb(227, 227, 227);
position: relative;
z-index: 2;
font-size: 18px;
line-height: 27px;
text-decoration: none;
text-align: center;
text-transform: capitalize;
font-family: arial;
font-weight: bold;
float: center;
}

.overlay_iframe_container{
position: absolute;
top: 61px;
left: 36px;
width: calc(100% - 270px);
height: calc(100% - 85px);
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0 0 10px 1px black;
overflow: hidden;
z-index: 3;
}

.overlay_app_logo {
position: absolute;
top: 13px;
left: 16px;
}

.overlay_app_img {
position: absolute;
top: 0px;
left: 0px;
width: 56px;
height: 56px;
background: rgb(51, 176, 240);
border-radius: 12px;
margin-top: 0;
margin-left: 0;
box-shadow: 0 0 10px 2px black;
z-index: 10;
opacity: 0.8;
}

.overlay_app_get {
position: absolute;
opacity: 0;
background: #ff9d00;
top: 0px;
left: 0px;
width: 56px;
height: 56px;
line-height: 56px;
text-align: center;
border-radius: 12px;
font-family: arial;
font-size: 20px;
font-weight: bold;
color: white;
z-index: 11;
}

.overlay_app_logo:hover .overlay_app_get {
opacity:1;
cursor: pointer;
}

.full {
width: 100%;
height: 100%;
overflow: hidden;
}

.overlay_close {
position: absolute;
top: -45px;
float: right;
right: -45px;
width: 90px;
height: 90px;
border-radius: 45px;
font-family: arial;
font-weight: bold;
line-height: 32px;
font-size: 18px;
text-align: center;
color: black;
background: rgba(0,0,0,0.5);
}

.overlay_close_x {
top: 48px;
left: 14px;
right: 300px;
width: 25px;
height: 22px;
position: relative;
font-family: cursive;
font-size: 20px;
font-weight: bold;
color: white;
}

.overlay_close_x:hover {
cursor: pointer;
color: red;
}

.overlay_side_price {
position: absolute;
top: 31px;
right: 44px;
width: 165px;
height: 50px;
font-family: arial;
font-weight: bold;
line-height: 50px;
font-size: 20px;
border-radius: 12px;
text-align: center;
color: black;
box-shadow: 0 0 8px black;
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.overlay_side_get {
position: absolute;
opacity: 0;
background: #ff9d00;
top: 0px;
left: 0px;
width: 165px;
height: 50px;
border-radius: 12px;
font-family: arial;
font-size: 20px;
font-weight: bold;
color: white;
}

.overlay_side_price:hover .overlay_side_get {
opacity:1;
cursor: pointer;
}
.overlay_brief {
position: absolute;
top: 85px;
right: 61px;
width: 132px;
}
.overlay_review {
position: absolute;
top: 85px;
right: 61px;
width: 132px;
}
.overlay_user_number {
position: absolute;
top: 37px;
left: 0px;
width: 132px;
text-align: center;
font-family: arial;
font-size: 18px;
color: white;
}
.star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
}
.star-icon.full:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: white;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}
.star-icon.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: white;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}


.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }